@import "./variables.scss";
.header {
	background-color: white;
	&__container {
		padding: 50px 80px 0px 85px;
		display: flex;
		justify-content: space-between;
		.logo {
			display: flex;
			cursor: default;
			&-back {
				height: 32px;
				width: 32px;
				border-radius: 100%;
				background-color: $dark-blue;
			}
			&-front {
				height: 32px;
				width: 32px;
				border-radius: 100%;
				background-color: white;
				border: 2px solid $dark-blue;

				position: relative;
				transform: translatex(-50%);
				&__letter {
					color: $dark-blue;
					font-size: 20px;
					font-weight: bold;
					font-family: $Gilroy;
					text-align: center;
					position: relative;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
		.menu {
			display: flex;
			align-items: center;
			height: 50px;
			&__btn {
				width: 24px;
				cursor: pointer;
				order: 1;
			}
			&__icon {
				position: relative;
				height: 4px;
				transition: 0.4s;
				background: $dark-blue;
				&::after,
				&::before {
					content: "";
					position: absolute;
					width: 100%;
					height: 4px;
					transition: 0.4s;
					background: $dark-blue;
				}
				&::after {
					top: 8px;
				}
				&::before {
					top: -8px;
				}
			}
			&__box {
				text-align: center;
				height: 0;
				transition: 0.5s;
				overflow: hidden;
				position: relative;
				top: 20%;
			}
			&__list {
				display: flex;
				flex-direction: row;
				gap: 50px;
				margin-right: 50px;
			}
			&__item {
				font-size: 26px;
				padding-bottom: 15px;
			}
			&__link {
				color: $dark-blue;
			}
			&__checkbox {
				display: none;
				&:checked ~ {
					.menu__box {
						height: 100%;
					}
					.menu__btn {
						.menu__icon {
							background: transparent;
							&::after {
								transform: rotate(-45deg);
								-webkit-transform: rotate(-45deg);
								top: 0;
							}
							&::before {
								transform: rotate(45deg);
								-webkit-transform: rotate(45deg);
								top: 0;
							}
						}
					}
				}
			}
		}
	}
}
.intro {
	padding: 100px 25px 190px 210px;
	background: linear-gradient(
		0deg,
		hsla(208, 63%, 75%, 0.2) 8.84%,
		rgba(152, 195, 232, 0) 31.12%
	);

	display: flex;
	justify-content: center;
	&__container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.box-text {
			cursor: default;
			&__title {
				max-width: 600px;
				font-size: 64px;
				line-height: 74px;
				letter-spacing: 0.04em;
				color: #1f3f68;
				margin-bottom: 30px;
			}
			&__subtitle {
				max-width: 425px;
				height: 80px;
				font-size: 16px;
				line-height: 26px;
				letter-spacing: 0.08em;
				color: #1f3f68;
				opacity: 0.6;
				margin-bottom: 70px;
			}
			&__button {
				width: 220px;
				height: 55px;
				background: #5a98d0;
				box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
				border-radius: 10px;
				border: none;
				color: white;
				cursor: pointer;
				transition: 2s;
			}
			.box-text__button:hover {
				font-size: 1.7rem;
				box-shadow: 15px 20px 30px rgba(19, 48, 86, 0.651);
			}
		}
	}
}
.activity {
	padding: 190px 210px;
	background-color: white;
	display: flex;
	justify-content: center;
	&__container {
		display: grid;
		grid-template-rows: repeat(2, 200px);
		gap: 100px;
		grid-template-areas:
			"title		card-two"
			"card-one	.		"
			"card-one	card-three";
		.activity__container__title {
			grid-area: title;
			cursor: default;
		}
		.box__card-one {
			grid-area: card-one;
			justify-self: end;
		}
		.box__card-two {
			grid-area: card-two;
		}
		.box__card-three {
			grid-area: card-three;
		}
		.activity__container__title {
			width: 360px;
			font-size: 36px;
			line-height: 46px;
			letter-spacing: 0.05em;
			color: $dark-blue;
			font-weight: lighter;
		}
		.box__card-one,
		.box__card-three {
			width: 380px;
			height: 525;
			background-color: white;
			box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
			border-radius: 10px;
			padding: 48px;
			cursor: default;

			img {
				position: relative;
				left: 50%;
				transform: translateX(-50%);
				margin-bottom: 55px;
			}
			h3 {
				font-size: 20px;
				line-height: 30px;
				letter-spacing: 0.05em;
				color: $dark-blue;
				margin-bottom: 15px;
			}
			p {
				width: 285px;
				height: 100px;
				font-size: 16px;
				line-height: 26px;
				letter-spacing: 0.05em;
				color: $dark-blue;
				opacity: 0.6;
				margin-bottom: 32px;
			}
			.button-next {
				display: flex;
				height: 30px;
				cursor: pointer;
				span {
					background-color: transparent;
					border: none;
					font-weight: 600;
					font-size: 14px;
					line-height: 30px;
					letter-spacing: 0.05em;
					color: #5a98d0;
					margin-right: 24px;
				}
				img {
					height: 24px;
					width: 24px;
					position: relative;
					left: 0;
					top: 3px;
				}
			}
		}
		.box__card-two {
			width: 380px;
			height: 500px;
			background-color: white;
			box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
			border-radius: 10px;
			padding: 0 48px;
			cursor: default;

			img {
				position: relative;
				left: 50%;
				transform: translateX(-50%);
				top: -5%;
			}
			h3 {
				font-size: 20px;
				line-height: 30px;
				letter-spacing: 0.05em;
				color: $dark-blue;
				margin-bottom: 15px;
			}
			p {
				width: 285px;
				height: 100px;
				font-size: 16px;
				line-height: 26px;
				letter-spacing: 0.05em;
				color: $dark-blue;
				opacity: 0.6;
				margin-bottom: 32px;
			}
			.button-next {
				display: flex;
				height: 30px;
				cursor: pointer;

				span {
					background-color: transparent;
					border: none;
					font-weight: 600;
					font-size: 14px;
					line-height: 30px;
					letter-spacing: 0.05em;
					color: #5a98d0;
					margin-right: 24px;
				}
				img {
					height: 24px;
					width: 24px;
					position: relative;
					left: 0;
					top: 3px;
				}
			}
		}
	}
}
.project {
	display: flex;
	justify-content: center;
	&__container {
		padding: 0px 215px;
		background-color: white;
		.box-text {
			display: flex;
			cursor: default;
			h2 {
				width: 230px;
				font-size: 36px;
				line-height: 46px;
				letter-spacing: 0.05em;
				color: #1f3f68;
				margin-right: 95px;
				margin-bottom: 95px;
			}
			p {
				width: 540px;
				height: 80px;
				font-size: 16px;
				line-height: 26px;
				color: #1f3f68;
				opacity: 0.6;
			}
		}
		.box-projects {
			display: grid;
			gap: 95px;
			grid-template-areas:
				"a a"
				"b c";

			.project-one {
				// grid-area: a;

				width: 100%;
				height: 417px;
				background-image: linear-gradient(
						89.99deg,
						#1f3f68 3.62%,
						rgba(31, 63, 104, 0.37) 97.78%
					),
					url(../assets/img/project/project-1.png);
				border-radius: 10px;
				cursor: pointer;
				transition: 3s;
				div {
					position: absolute;
					left: 50%;
					margin-top: 50px;
					transform: translateX(25%);
					h3 {
						width: 340px;
						height: 45px;
						font-size: 28px;
						line-height: 46px;
						letter-spacing: 0.05em;
						color: #ffffff;
						margin-bottom: 10px;
					}
					h4 {
						height: 45px;
						left: 870px;
						font-size: 16px;
						line-height: 46px;
						letter-spacing: 0.05em;
						color: #ffffff;
						opacity: 0.8;
					}
				}
			}
			.project-one:hover {
				background-image: url(../assets/img/project/project-1.png);
			}

			.project-two {
				grid-area: b;

				width: 422px;
				height: 417px;
				background-image: linear-gradient(
						89.99deg,
						#1f3f68 3.62%,
						rgba(31, 63, 104, 0.37) 97.78%
					),
					url(../assets/img/project/project-2.png);
				border-radius: 10px;
				cursor: pointer;
				transition: 3s;

				div {
					position: absolute;
					margin-top: 24px;
					margin-left: 32px;
					h3 {
						width: 340px;
						height: 45px;
						font-size: 28px;
						line-height: 46px;
						letter-spacing: 0.05em;
						color: #ffffff;
						margin-bottom: 10px;
					}
					h4 {
						height: 45px;
						left: 870px;
						font-size: 16px;
						line-height: 46px;
						letter-spacing: 0.05em;
						color: #ffffff;
						opacity: 0.8;
					}
				}
			}
			.project-two:hover {
				background-image: url(../assets/img/project/project-2.png);
			}

			.project-three {
				grid-area: c;

				width: 422px;
				height: 417px;
				background-image: linear-gradient(
						89.99deg,
						#1f3f6896 3.62%,
						rgba(31, 63, 104, 0.37) 97.78%
					),
					url(../assets/img/project/project-3.png);
				border-radius: 10px;
				cursor: pointer;
				transition: 3s;
				div {
					position: absolute;
					margin-top: 24px;
					margin-left: 32px;
					h3 {
						width: 340px;
						height: 45px;
						font-size: 28px;
						line-height: 46px;
						letter-spacing: 0.05em;
						color: #ffffff;
						margin-bottom: 10px;
					}
					h4 {
						height: 45px;
						left: 870px;
						font-size: 16px;
						line-height: 46px;
						letter-spacing: 0.05em;
						color: #ffffff;
						opacity: 0.8;
					}
				}
			}
			.project-three:hover {
				background-image: url(../assets/img/project/project-3.png);
			}
		}
	}
}
.clients {
	margin-top: 190px;
	background: #5a98d0;
	border-radius: 200px 0 0 0;
	display: flex;
	justify-content: center;
	$__container {
		padding-top: 95px;
		.box-text {
			display: flex;
			gap: 95px;
			margin-bottom: 110px;
			cursor: default;
			h2 {
				color: #ffffff;
				width: 223px;
				height: 92px;
				font-size: 36px;
				line-height: 46px;
				letter-spacing: 0.05em;
			}
			p {
				width: 540px;
				height: 80px;
				font-size: 16px;
				line-height: 26px;
				letter-spacing: 0.05em;
				color: #ffffff;
				opacity: 0.6;
			}
		}
		.table {
			max-width: 940px;
			background-color: #ffffff;
			margin-bottom: 125px;
			cursor: pointer;
			display: grid;
			gap: 1px;
			grid-template-areas:
				"1 2 3  4"
				"5 6 7 8";
			div {
				width: 235px;
				height: 130px;
				font-size: 20px;
				line-height: 46px;
				letter-spacing: 0.02em;
				color: #ffffff;
				background-color: #5a98d0;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: 3s;
			}
			div:hover {
				background: rgb(31, 63, 104);
			}
		}
	}
}
