@import "./mixins.scss";
@import "./variables.scss";
@media (max-width: 1200px) {
	.intro {
		padding-left: 190px;
		.box-text__title {
			font-size: 50px;
		}
		._picture {
			height: 450px;
			width: 550px;
		}
	}
}
@media (max-width: 1024px) {
	.intro {
		padding-left: 80px;
		.box-text__title {
			font-size: 40px;
		}
		._picture {
			height: 450px;
			width: 550px;
		}
	}
	.activity {
		padding-top: 150px;
		&__container .box__card-one {
			margin-left: 0px;
		}
	}
	.project {
		padding-left: 100px;
		padding-right: 80px;
		&__container {
			.box-projects {
				gap: 70px;
				.box-text {
					justify-content: center;
				}
				.project-one {
					width: 850px;
					height: 317px;
					div {
						left: 45%;
					}
				}
				.project-two,
				.project-three {
					width: 380px;
					height: 380px;
				}
			}
		}
	}
	.clients {
		border-radius: 150px 0 0 0;
		&__container {
			margin-left: 120px;
			margin-right: 100px;
			.table {
				max-width: 830px;
				div {
					width: 100%;
					height: 100px;
					font-size: 18px;
				}
			}
		}
	}
	.connection {
		&__container {
			border-radius: 0 150px 0 0;
			gap: 50px;
		}
	}
	.footer {
		&__container {
			gap: 50px;
			grid-template-columns: 300px 200px 130px;
		}
	}
}
@media (max-width: 768px) {
	.header {
		.menu {
			&__list {
				gap: 30px;
			}
			&__item {
				font-size: 18px;
			}
		}
	}
	.intro {
		padding-left: 80px;
		padding-bottom: 120px;
		padding-top: 50px;

		.box-text {
			&__title {
				font-size: 32px;
				line-height: 5rem;
			}
			&__subtitle {
				font-size: 14px;
			}
		}
		._picture {
			height: 300px;
			width: 350px;
		}
	}
	.activity {
		padding-top: 100px;
		padding-bottom: 40px;
		&__container {
			gap: 80px;
			grid-template-rows: repeat(1, 200px);

			grid-template-areas:
				"title		"
				"card-one			"
				"card-two"
				"card-three";
		}
	}
	.project {
		.box-text {
			display: grid;
			justify-content: center;
			grid-template-areas:
				"a "
				"b ";
			h2 {
				grid-area: a;
				margin-bottom: 50px;
				width: 100%;
			}
			p {
				grid-area: b;
				margin-bottom: 50px;
			}
		}
		.box-projects {
			grid-template-areas:
				"a "
				"b "
				"c";
			justify-content: center;
			.project-one {
				width: 100%;
				div {
					position: relative;
					left: -60px;
					top: -25px;
				}
			}
		}
	}
	.clients {
		margin-top: 100px;
		&__container {
			.box-text {
				display: grid;
				grid-template-rows: 50px;
				grid-template-areas:
					"a "
					"b ";
				justify-content: center;
				margin-bottom: 30px;

				h2 {
					grid-area: a;
				}
				p {
					grid-area: b;
				}
			}
			.table {
				margin-bottom: 100px;
				div {
					font-size: 14px;
					height: auto 100%;
				}
			}
		}
	}
	.connection {
		&__container {
			margin-right: 50px;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 0px;
			.box-text {
				margin-bottom: 50px;
			}
			button {
				margin-top: 0px;
				margin-bottom: 100px;
			}
		}
	}
	.footer {
		&__container {
			margin-right: 50px;
			grid-template-columns: 300px;
			grid-template-areas:
				"b c"
				"a a";
			.box {
				.footer__logo {
					padding-top: 0px;
				}
			}
		}
	}
}
@media (max-width: 600px) {
	.header {
		&__container {
			.menu {
				&__box {
					overflow: scroll;
				}
				&__list {
					flex-direction: column;
				}
				&__item {
					font-size: 20px;
				}
			}
		}
	}
	.intro {
		&__container {
			.box-text {
				&__title {
					font-size: 50px;
					line-height: 6rem;
				}
				&__subtitle {
					opacity: 1;
					font-size: 20px;
				}
			}

			._picture {
				position: absolute;
				z-index: -1;
				opacity: 0.3;
				height: 400px;
				width: 450px;
			}
		}
	}
	.project {
		&__container {
			.box-text {
				p {
					width: 400px;
				}
			}
		}
	}
	.clients {
		&__container {
			.box-text {
				p {
					width: 400px;
				}
			}
			.table {
				margin-top: 50px;
				div {
					font-size: 10px;
					height: 100%;
				}
			}
		}
	}
	.connection {
		&__container {
			.box-text {
				p {
					width: 330px;
					margin-bottom: 50px;
				}
			}
		}
	}
	.footer {
		&__container {
			gap: 0;
			.box {
				.footer__logo {
					padding-top: 50px;
				}
			}
		}
	}
}

@media (max-width: 480px) {
}
@media (max-width: 375px) {
} ;
